.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.58);
  margin-bottom: 30px;
  font-size: 15px;
}
// Media query
@media only screen and (max-width: 380px) {
  .copyright {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.58);
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 12px;
  }
}
