.footer-secondary-links {
  margin-bottom: 20px;
  .footer-secondary-list {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    .footer-secondary-link {
      &:nth-last-child(1) {
        border: none;
      }
      a {
        color: black;
        padding-right: 30px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
// Media query
@media only screen and (max-width: 380px) {
  .footer-secondary-links {
    margin-bottom: 20px;
    .footer-secondary-list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
      .footer-secondary-link {
        font-size: 10px;
        border-right: 1px none ;
        &:nth-last-child(1) {
          border: none;
        }
        a {
          padding-right: 20px;
        }
      }
    }
  }
}