.giftcards-allcards {
    margin-bottom: 40px;
  
    .giftcards-container {
      display: flex;
      flex-direction: column;
      align-items: center;      
      text-align: start;

      .giftcards-title {
        font-size: 1.2rem;
      }
      .giftcards-allcards-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: start;
        gap: 20px;
        @media (max-width: 1340px) and (min-width: 1030px) {
          justify-content: flex-start;
        }
  
        img {
          width: 290px;
          height: 185px;
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.14);
          border-radius: 3.3333%/5.298%;
          transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }
  
        img:hover {
          transform: translateY(-10px); // Lift the card on hover
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); // Add shadow
        }
      }
    }
  }