.giftcards-spring {
  margin-bottom: 40px;
  .giftcards-container {
    .giftcards-spring-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      img {
        width: 290px;
        height: 185px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.14);
        border-radius: 3.3333%/5.298%;
      }
    }
  }
}
