.ribbon-giftcards {
  padding: 40px 50px 40px 0px;
  margin: 20px 0px;
  background-color: #dcf5ec;
  .ribbon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .row-ribbon {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      h2{
        font-size: 1.3rem;
        font-weight: bold;
      }
      button, a {
        border: 1px solid black;
        border-radius: 50px;
        display: inline-block;
        font-weight: 600;
        line-height: 1.2;
        padding: 7px 16px;
        text-align: center;
        text-decoration: none;
        transition: all 0.2s ease;
        
      }
      .add-or-reload-btn{
        &:hover {
          background-color: #bed1cb;
        }
      }
      .check-balance-btn {
        background: black;
        color: white;
        &:hover {
          opacity: 80%;
        }
      }
      span {
        font-weight: 500;
        font-size: 17px;
        color: rgba(0, 0, 0, 0.58);
      }
    }
    .card-terms-link {
      font-weight: 700;
      color: #006241;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
