// Varibles
$blackColor: #000;
$whiteColor: #fff;
$linkColor: #000000de;
$hoverColor: #00754a;
// Home Cards Color
$HomeCard1Color: #1e3932;
$HomeCard2Color: #ffc519;
$HomeCard3Color: #fff4d4;
$HomeCard4Color: #fff4d4;
$HomeCard1TitleColor: #1e3932;
// Home Cards Color
