.product-details{
    width: 100%;
    height: 100vh;
    background: url(../images/background-admin.jpg);
    background-position: center center;
    background-size: 100%;
  
}
.product-details .head{
   height: 80px;
   padding-left: 90px;
   padding-right: 90px;
   font-weight: 500;
   color: #fff;
   font-size: 20px;
   margin-bottom: 90px;
}
.product-details .head a{
    color: #fff;
}

.product-details,h1,img{
    color: #fff;
   
}

.product-details-card{
  
    backdrop-filter: blur(10px);
    
}